<!-- Fondo semitransparente y difuminado -->
<div class="fixed inset-0 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-gray-400 p-6 rounded-lg w-96 shadow-xl">
    <h2 class="text-xl font-bold mb-4">Viendo tarjeta</h2>
    <p>Hola mundo desde opciones</p>
    <div class="mt-4 flex justify-end space-x-2">
      <button class="bg-blue-500 text-white px-4 py-2 rounded">Ver historia</button>
      <button class="bg-red-500 text-white px-4 py-2 rounded">Solicitar rescate</button>
      <button class="bg-yellow-300 text-white px-4 py-2 rounded" (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</div>
