<div >
    <table class="w-full h-full ">
        <thead class="bg-gradient-to-r from-primary to-blue-300 sticky top-0 z-10  text-white text-xs uppercase tracking-wider shadow-md ">
          <tr>
            <th class="p-2 text-center font-extrabold">
              <input type="checkbox" [checked]="allSelected" (change)="toggleSelectAll($event)" />
            </th>
            <th class="p-2 text-center font-extrabold rounded-tl-lg drop-shadow-md">ID Pieza</th>
            <th class="p-2 text-center font-extrabold">Administradora</th>
            <th class="p-2 text-center font-extrabold">Permisionaria</th>
            <th class="p-2 text-center font-extrabold">Estado</th>
            <th class="p-2 text-center font-extrabold">DNI</th>
            <th class="p-2 text-center font-extrabold">ID Cobis</th>
            <th class="p-2 text-center font-extrabold">N° Tarjeta</th>
            <th class="p-2 text-center font-extrabold">F. Proceso</th>
            <th class="p-2 text-center font-extrabold">F. Cambio</th>
            <th class="p-2 text-center font-extrabold rounded-tr-lg">Coordenadas</th>
          </tr>
        </thead>
       <tbody>
          @for (fila of piezas(); track fila.idPieza; let i = $index) {
            <tr
              class="border-b bg-surface cursor-pointer text-center max-h-[20px] h-[20px] align-middle hover:bg-blue-100 hover:text-blue-900 transition-all duration-150"
              [class.bg-gray-100]="i % 2 === 0" 
               (click)="abrirModal(fila)"
            >
              <td class="p-2 max-h-[20px] h-[20px] align-middle">
                <input type="checkbox" [checked]="isSelected(fila)" (change)="toggleSeleccion(fila, $event)" (click)="$event.stopPropagation()" />
              </td>
              <td class="p-2 max-h-[20px] h-[20px] align-middle" >{{ fila.idPieza }}</td>
              <td class="p-2 max-h-[20px] h-[20px] align-middle" >{{ fila.administradora }}</td>
              <td class="p-2 max-h-[20px] h-[20px] align-middle" >{{ fila.permisionaria }}</td>
              <td class="p-2 max-h-[20px] h-[20px] align-middle" >{{ fila.estado }}</td>
              <td class="p-2 max-h-[20px] h-[20px] align-middle" >{{ fila.dni }}</td>
              <td class="p-2 max-h-[20px] h-[20px] align-middle" >{{ fila.idcobis }}</td>
              <td class="p-2 max-h-[20px] h-[20px] align-middle" >{{ fila.numeroTarjeta }}</td>
              <td class="p-2 max-h-[20px] h-[20px] align-middle" >{{ fila.fechaProceso }}</td>
              <td class="p-2 max-h-[20px] h-[20px] align-middle" >{{ fila.fechaCambioEstado }}</td>
              <td class="p-2 max-h-[20px] h-[20px] align-middle" >{{ fila.coordenadas }}</td>
            </tr>
          }



        </tbody>
      </table>
</div>
