<div class=" bg-background w-full h-screen mx-auto p-0 m-0 text-center flex justify-center items-center">
  <!-- Contenedor para las cartas -->
  <div class="grid grid-cols-3 gap-6 w-full max-w-7xl text-white grid-rows-3 p-4">


    <!-- Carta 1 -->
    <div 
      class="flex flex-col justify-center items-center bg-surface p-6 rounded-lg shadow-lg text-center hover:bg-gradient-to-br from-primary to-blue-100 hover:scale-110 transition">
      <div class="text-6xl font-bold text-secondary">50</div>
      <div class="mt-2 text-xl text-secondary">Alarmas</div>
    </div>

    <!-- Carta 2 -->
    <div 
      (click)="irAPiezasEnTransito()"
      class="flex flex-col justify-center items-center bg-surface p-6 rounded-lg shadow-lg text-center hover:bg-gradient-to-br from-primary to-blue-100 hover:scale-110 transition cursor-pointer">
      <div class="text-6xl font-bold text-secondary">{{enTransito()}}</div>
      <div class="mt-2 text-xl text-secondary">Piezas en transito</div>
    </div>
  
  

    <!-- Carta 3 -->
    <div class="flex flex-col justify-center items-center bg-surface p-6 rounded-lg shadow-lg text-center hover:bg-gradient-to-br from-primary to-blue-100 hover:scale-110 transition">
      <div class="text-6xl font-bold text-secondary">{{pedidoDeRescate()}}</div>
      <div class="mt-2 text-xl text-secondary">Pedidos de rescate</div>
    </div>

    <!-- Carta 4 -->
    <div 
        (click)="irAPiezasEntregasDelDia()"
      class="flex flex-col justify-center items-center bg-surface p-6 rounded-lg shadow-lg text-center hover:bg-gradient-to-br from-primary to-blue-100 hover:scale-110 transition">
      <div class="text-6xl font-bold text-secondary">{{entregasDelDia()}}</div>
      <div class="mt-2 text-xl text-secondary">Entregas del dia</div>
    </div>

    <!-- Carta 5 -->
    <div class="flex flex-col justify-center items-center bg-surface p-6 rounded-lg shadow-lg text-center hover:bg-gradient-to-br from-primary to-blue-100 hover:scale-110 transition">
      <div class="text-6xl font-bold text-secondary">SI</div>
      <div class="mt-2 text-xl text-secondary">On line con Andreani</div>
    </div>

    <!-- Carta 6 -->
    <div 
      (click)="irAPiezasEnGuarda()"
      class="flex flex-col justify-center items-center bg-surface p-6 rounded-lg shadow-lg text-center hover:bg-gradient-to-br from-primary to-blue-100 hover:scale-110 transition">
      <div class="text-6xl font-bold text-secondary">{{enGuarda()}}</div>
      <div class="mt-2 text-xl text-secondary">Piezas en guarda</div>
    </div>

  </div>
</div>
