<div
  class="transition-all duration-300 ease-in-out h-full"
  [class.w-64]="mostrar"
  [class.w-0]="!mostrar"
>
  <div
    class="h-full bg-gray-200 shadow-lg overflow-y-auto"
  [class.opacity-100]="mostrar"
  [class.opacity-0]="!mostrar"
  >

          <!-- filtro.component.html -->

   <div class=" flex flex-col h-full h-full p-4   ">

      <form [formGroup]="filtrosForm" (ngSubmit)="aplicarFiltros()" class="flex flex-col h-full h-full rounded shadow">

        <!-- Inputs de texto -->
        <div class="flex flex-col space-y-5">
          <input type="text" placeholder="DNI" formControlName="dni" class="w-full border p-2 rounded" />
          <input type="text" placeholder="Administradora" formControlName="administradora" class="w-full border p-2 rounded" />
          <input type="text" placeholder="Permisionaria" formControlName="permisionaria" class="w-full border p-2 rounded" />
          <input type="text" placeholder="Tarjeta" formControlName="tarjeta" class="w-full border p-2 rounded" />
          <input type="date" formControlName="fechaDesde" class="w-full border p-2 rounded" />
          <input type="date" formControlName="fechaHasta" class="w-full border p-2 rounded" />

        </div>

        <!-- Checkboxes de estados -->
        <div formArrayName="estados" class="border p-4 rounded bg-gray-50 mt-5">
          <p class="font-semibold mb-2">Estados</p>
          <div class=" g-2 max-h-40 overflow-y-auto">

            @for (estado of estadosDisponibles; track $index) {
              <label class="flex items-center space-x-2">
                <input type="checkbox" [formControlName]="$index" class="accent-blue-600" />
                <span>{{ estado }}</span>
              </label>
            }

          </div>
        </div>

        <!-- Botón -->
        <div class="mt-5 flex justify-end">
          <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
            Aplicar filtros
          </button>
        </div>
      </form>

    </div>

  </div>
</div>
