<div class="w-full h-full flex  overflow-hidden transition-all duration-300 bg-background">

  <!--filtros-->
  <app-advanced-filters
    class="h-full "
    [mostrar]="showFilters()"
    [filtros]="filtrosActivos()"
    (stringDelFiltro)="onStringDelFiltro($event)"
    (filtroAplicado)="onFiltroAplicado($event)"
    (filtroEliminado)="onFiltroEliminado($event)"
    (limpiarTodos)="onLimpiarTodos()"
  >
  </app-advanced-filters>

  <!--Pantalla principal-->
  <div class="flex-1 h-full w-full  flex-col  transition-all duration-300 ease-in-out bg-background  ">

    <!-- mostrador de cantidad de filas y filtros activos-->
    <div class="flex flex-row items-center justify-center w-full mt-2">
      <div class="flex flex-row items-center justify-between w-full max-w-7xl min-w-[700px]">
        <div class="flex flex-row text-center mr-4 w-1/8">
          <button (click)="toggleFiltro()" class="text-xs font-bold text-secondary mr-3 ">
             |||
          </button>
          <h2 class="text-xs font-bold text-gray-800">
            Resultados: {{ piezasSeleccionadasSignal().length }}
          </h2>
        </div>


        
        <!-- mostramos los filtros que hay activos-->
        <div class="flex flex-row items-center justify-end flex-wrap gap-2 text-sm w-7/8 max-h-[32px] overflow-y-auto">
          <div class="flex gap-2 mt-2">
            
            @for (filtro of getFiltrosActivosVisibles(); track filtro[0]) {
              <span class="px-2 py-1 bg-blue-200 text-blue-900 rounded hover:cursor-pointer hover:bg-blue-400 transition"
                    (click)="onFiltroEliminado(filtro[0])">
                {{ filtro[0] }}: {{ filtro[1] }}
              </span>
            }

          </div>
        </div>
      </div>
    </div>

    <!-- Tabla -->
    <div class="flex justify-center align-center w-full mt-1">
      <div class="w-full max-w-7xl min-w-[700px] max-h-[500px] min-h-[500px] overflow-y-auto overflow-x-auto rounded-xl shadow-xl bg-white">
        <app-tabla-piezas
          class="w-full"
          [cargando]="cargando"
          [piezas]="piezasPaginadas"
          #tablaPiezas
        
        >
        </app-tabla-piezas>
      </div>
    </div>

    <!--Paginacion-->
    <div class="flex items-center justify-center w-full mt-2 h-20">
      <div class="w-full max-w-7xl flex items-center justify-between text-sm">
        <!-- Selector de cantidad -->
        <div class="flex items-center gap-2">
          <label for="pageSize">Mostrar:</label>
          <select
            id="pageSize"
            class="border rounded px-2 py-1"
            [value]="filasPorPaginaSignal()"
            (change)="cambiarPageSize($any($event.target).value * 1)"
          >
            @for (tam of [10, 25, 50, 100]; track tam) {
              <option 
                class="hover:bg-gradient-to-br from-primary to-blue-100"
                [value]="tam" [selected]="filasPorPaginaSignal() === tam">
                {{ tam }}
              </option>
            }
          </select>
        </div>

        <div class="flex items-center gap-2">
          <label for="estado">Estado:</label>
          <select
            id="estado"
            class="border rounded px-2 py-1"          
          >
            @for (estado of estados(); track estado) {
              <option [value]="estado">{{ estado }}</option>
            }
          </select>
        </div>

        <!-- Navegación -->
        <div class="flex items-center gap-2">
          <button
            class="px-2 py-1 border rounded hover:bg-gradient-to-br from-primary to-blue-100"
            (click)="cambiarPagina(currentPageSignal() - 1)"
            [disabled]="currentPageSignal() === 1"
          >
            ← Anterior
          </button>
          <button
            class="px-2 py-1 border rounded hover:bg-gradient-to-br from-primary to-blue-100"
            (click)="cambiarPagina(currentPageSignal() + 1)"
            [disabled]="currentPageSignal() === totalPagesSignal()"
          >
            Siguiente →
          </button>
        </div>
      </div>
    </div>

     

  </div>
</div>
