<div class="w-full h-full flex flex-col items-center justify-start bg-background p-8">
  <h2 class="text-2xl font-bold text-blue-900 mb-6">Reportes de Facturación</h2>

  <div class="w-full h-full flex flex-row ">

    <form [formGroup]="filtroForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <div>
        <label>Desde</label>
        <input type="date" formControlName="desde"
          class="w-full border border-black-300 focus:border-blue-500 focus:ring focus:ring-blue-200/50 p-2 rounded transition"
         />
      </div>
      <div>
        <label>Hasta</label>
        <input type="date" formControlName="hasta" 
         class="w-full border border-black-300 focus:border-blue-500 focus:ring focus:ring-blue-200/50 p-2 rounded transition"
      />
      </div>
      <div>
        <label>Contrato</label>
        <input type="text" formControlName="contrato" 
          class="w-full border border-black-300 focus:border-blue-500 focus:ring focus:ring-blue-200/50 p-2 rounded transition"
        />
      </div>
      <button type="submit" class="btn btn-primary w-full mt-2">Buscar</button>
    </form>

    <div class="w-6/8 max-h-[500px] min-h-[500px] overflow-y-auto overflow-x-auto rounded-xl shadow-xl bg-white ml-4">
    
      <table class="min-w-full text-sm text-center border-separate border-spacing-y-1">
        <thead class=" sticky top-0 z-10 bg-gradient-to-r from-blue-200 to-blue-100">
          <tr>
             <th class="px-4 py-2 font-semibold text-blue-900">Cod. Distribucion</th> 
            <th class="px-4 py-2 font-semibold text-blue-900">Contrato</th>
            <th class="px-4 py-2 font-semibold text-blue-900">Permisionaria</th>
            <th class="px-4 py-2 font-semibold text-blue-900">Cantidad</th>
            <th class="px-4 py-2 font-semibold text-blue-900">Monto Facturado</th>
          </tr>
        </thead>
       <tbody>
          @for (row of resumenPorCodigo(); track row.codigo) {
            <tr>
              <td>{{ row.CodigoDistribucion }}</td>
               <td>{{ row.contrato }}</td>
              <td>{{ row.permisionaria }}</td>
              <td>{{ row.cantidad }}</td>
              <td
                class="text-green-300"
              >${{ row.monto }}</td>
            </tr>
          }
          @if (resumenPorCodigo().length === 0) {
            <tr>
              <td colspan="4" class="text-center text-gray-400 py-6">No hay piezas seleccionadas.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

   

  </div>
</div>
